
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
            <th scope="col">Direccion</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in lista_clientes %}
        <tr>
            <th scope="row">{{cliente.cliente_id}}</th>
            <td>{{cliente.nombre}} {{cliente.apellido}}</td>
            <td>{{cliente.edad}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.direccion.calle}} {{cliente.direccion.numero}}</td>
            {% if cliente.cliente_activo %}
            <td>Activo</td>
            {% else %}
            <td>Inactivo</td>
            {% endif %}
            <td>
                <a href="cliente/editar/{{ cliente.cliente_id }}">Editar</a> | 
                <a href="cliente/eliminar/{{ cliente.cliente_id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>